@font-face {
    font-family: 'impossible_-_0regular';
    src: url('impossible.regular-webfont.woff2') format('woff2'),
         url('impossible.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.header-4 {
    text-align: center;
    font-family: 'impossible_-_0regular';
    font-size: 120px;
    color: red;
}

.jumbotron {
    background-color: transparent;
}

body {
    background-image: url('images/dancingoreo.gif');
    background-size: cover;
}

.row {
    background-color: black;
    font-family: 'impossible_-_0regular';
    color: red;
    font-size: 30px;
}