body { 
   background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.header-4{ 
    margin-top: 90px;
    margin-left: 20px;
    width: 200px;
    height: auto;
    content:url(images/heartveggies.png);
    position: absolute;

}

h1{
   position: relative;
   float: left;
   margin-left: 270px;
   margin-top: 80px;
   text-align: center;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 50px;
   color: whitesmoke;      
}

 h2{
     margin-left: 50px;
     margin-top: -20px;
     position: relative;
     z-index: 2;
     margin-top: 5px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 200px;
    color: rgb(41, 13, 54);      
}

.images {
    padding:2px;
    border: rgb(41, 13, 54) 2px solid;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.row {
    clear: both;
    margin-top: 90px;
    font-family: 'impossible_-_0regular';
    color: red;
    font-size: 30px;
}

#imageshere {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    margin-top: 50px;
    
}